body{
    height: 90dvh;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    font-family: 'Hanken Grotesk';
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.menu{
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgba(121, 121, 121, 0.082);
    display: flex;
    align-self: center;
}

.attribution{
    font-size: 11px; 
    text-align: center; 
    font-family: 'Hanken Grotesk';
    color: hsl(228, 45%, 44%);
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: center;
    justify-self: flex-end;
}

.result{
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
    max-width: 50%;
    border-radius: 20px;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

.description{
    max-width: 300px;
    color: hsl(241, 100%, 89%);
    font-size: 14px ;
    font-weight: 500;
    align-self: center;
    text-align: center;
    padding: 0px 55px 30px 55px;
}

.result .title{
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    color: hsl(0, 0%, 100%);
}

.result header{
    color: hsl(241, 100%, 89%);
    text-align: center;
    font-size: 18px;
    margin: 25px 0px;
    font-weight: 500;
}

.result .score text{
    color: hsl(0, 0%, 100%);
    font-size: 62px;
    font-weight: 600;
}

.result .score{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    text-align: center;
    height: width;
    width: 100%;
    max-width: 200px;
    aspect-ratio: 1;
    border-radius: 100%;
    margin-bottom: 40px;
}

.result .circle{
    color: hsla(241, 100%, 89%, 0.61)
}

.summary{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 35px;
    width: 50%;
    align-content:space-between;
}
.summary p{
    font-weight: bold;
    font-size: 18px;
    text-align: start;
}

.summary .factor{
    justify-self: center;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
}

#first{
    background-color:hsla(0, 100%, 67%, 0.069) ;
}

#first .label{
    color:hsla(0, 100%, 67%, 0.861) ;
}

#second{
    background-color:hsla(39, 100%, 56%, 0.069)
}

#second .label{
    color:hsl(39, 100%, 56%, 0.861);
}

#third {
    background-color:hsla(166, 100%, 37%, 0.069)
}

#third .label{
    color:hsl(166, 100%, 37%, 0.861)
}


#four{
    background-color:hsla(234, 85%, 45%, 0.069) ;
}

#four .label{
    color:hsl(234, 85%, 45%, 0.861) ;
}

.label{
    font-weight: bold;
    margin-left: 5px;
}

.factor img{
    margin-right: 5px;
}

.text{
    color: #0000006d;
    font-weight: 700;
}

.Continue{
    font-family: 'Hanken Grotesk';
    font-weight: 600;
    width: 100%;
    border-radius: 50px;
    border: 0;
    font-size: 14px;
    padding: 15px 40px;
    align-self: flex-end;
    background-color: hsl(224, 30%, 27%);
    color: white;
}

.Continue:hover{
    cursor: pointer;
    background-color: hsl(224, 23%, 34%);
    transition: ease-in-out 0.1s;
}

b{
    color: #000000c1;
}